
/*GENERAL*/
body,html{
	margin: 0;
	height: 100%;
	width: 100%;
	color: #404041;
	background-color: #ffffff;
	font-family: Roboto-light;
	-webkit-font-smoothing: antialiased !important;
	line-height: 31px;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color: #404041;
}
a:hover{
	color: #9B9B9B;
}
li{
	list-style: none;
}
.link {
	color: #0ff3ac;
}


/*FONT*/
@font-face {
    font-family: Martel-light;
    src: url(font/Martel-Light.ttf);
}
@font-face {
    font-family: Martel-bold;
    src: url(font/Martel-Bold.ttf);
}
@font-face {
    font-family: Open-sans-regular;
    src: url(font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open-sans-semibold;
    src: url(font/OpenSans-SemiBold.ttf);
}

body {
	width: 90%;
	margin: 0 auto;
}

header {
	height: 60px;
	margin: 0 auto;
	font-family: 'Martel-light';
}

.mb {
	display: none;
}

.cover {
	padding-bottom: 170px;
	opacity: 1;
}

.header_box {
	padding: 20px 0;
}

.home {
	float: right;
}

.name {
	display: inline-block;
}

.intro_main {
	font-family: 'Open-sans-semibold';
	font-size: 90px;
	line-height: 110px;
	padding: 60px 0 80px 0;
	color: #212121;
}

.intro_sub {
	font-family: 'Martel-light';
	font-size: 16px;
	padding-top: 60px;
	max-width: 600px;
}

.pj_bk {
	margin: 100px 0 160px 0;
	border-bottom: 1px solid #efefef;
}

.pj_bk img {
	width: 75%;
	display: block;
	margin: 0 auto;
	transition: all 0.7s ease-in-out;
}
.pj_bk img:hover {
	transform: scale(1.04);
}

.pj_info {
	padding: 140px 0 80px 0;
}

.title {
	font-family: Martel-bold;
	font-size: 20px;
}

.subtitle {
	font-family: Martel-light;
	font-size: 14px;
	padding-bottom: 20px;
}

.para {
	font-family: Open-sans-regular;
	font-size: 14px;
	color: #7B7B7B;
	padding-bottom: 20px;
}

footer {
	padding: 120px 0 0 0;
}

.contact {
	font-family: Martel-light;
	font-size: 20px;
	text-align: center;
	padding-bottom: 80px;
}

.cr {
	font-family: Martel-light;
	font-size: 12px;
	padding-bottom: 60px;
}


/*IPHONE*/
@media only screen and (min-device-width: 375px)
 and (max-device-width: 600px)
 and (orientation : portrait) {

		.mb {
			display: block;
		}

		.dt {
			display: none;
		}

}
