
/*GENERAL*/
body,html{
	margin: 0;
	-webkit-font-smoothing: antialiased !important;
	background-color: #000;
	font-family: Theinhardt-Regular;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color: #ec9fc8;
}
a:hover{
	color: #B2FAC7;
}
.typewrite:hover {
	text-decoration: none;
}
li{
	list-style: none;
}
.borderleft{
	border-right: 20px solid #fff;
	animation: blinker 0.8s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}



/*FONT*/
@font-face {
    font-family: Theinhardt-Bold;
    src: url(font/Theinhardt-Bold.ttf);
}
@font-face {
    font-family: Theinhardt-Heavy;
    src: url(font/Theinhardt-Heavy.ttf);
}
@font-face {
    font-family: Theinhardt-Regular;
    src: url(font/Theinhardt-Regular.ttf);
}
@font-face {
    font-family: Theinhardt-Light;
    src: url(font/Theinhardt-Light.ttf);
}
@font-face {
    font-family: MaisonNeue-Mono;
    src: url(font/MaisonNeue-Mono.ttf);
}

/*HEADER*/
.header_box a{
	font-family: Theinhardt-Bold;
	font-size: 150%;
  right: -35px;
  top: 80px;
	position: fixed;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}



/*FOOTER*/
footer {
	width: 100%;
	color: #292a2c;
	background-color: #fff;
}
.footer_content {
	padding: 100px 60px;
	max-width: 1230px;
	margin: 0 auto;
	background-color: #fff;
}
.footer_box {
	margin: 0 auto;
	font-family: 'Theinhardt-Light';
	font-size: 200%;
	line-height: 140%;
	background-color: #fff;
}
.footer_box span {
	font-family: 'Theinhardt-Bold';
}
.contact {
	font-family: 'MaisonNeue-Mono';
	font-size: 90%;
	color: #ec9fc8;
	margin-top: 80px;
}
.cr {
	padding-top: 90px;
	opacity: 0.2;
}



/*ABOUT ME*/
.hero_img {
	position: fixed;
	width: 300px;
	height: 300px;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -320px;
	transform: rotate(2deg);
	opacity: 0.9;
}
.hero_img img {
	width: 100%;
}
.intro_main_about {
	font-family: 'Theinhardt-Bold';
	font-size: 940%;
	letter-spacing: -4px;
	line-height: 92%;
	padding: 60px 0 80px 0;
	color: #fff;
	height: 480px;
	position: relative;
	z-index: 3;
}
.intro_sub_about {
	font-family: 'Theinhardt-Light';
	font-size: 200%;
	line-height: 140%;
	max-width: 900px;
	color: #fff;
}

.close-container{
  position: fixed;
  margin: auto;
  width: 80px;
  height: 80px;
  left: 20px;
	top: 20px;
  cursor: pointer;
	z-index: 20;
}
.leftright{
  height: 8px;
  width: 80px;
	top: 56px;
  position: fixed;
  background-color: #fff;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}
.rightleft{
  height: 8px;
  width: 80px;
	top: 56px;
  position: fixed;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}
.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #fff;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #fff;
}



/*HOME*/
body {
	font-size: 16px;
	line-height: 28px;
	width: 100%;
	margin: 0 auto;
}
.cover {
	max-width: 1230px;
	padding: 100px 60px 260px 60px;
	margin: 0 auto;
}
.intro_main {
	font-family: 'Theinhardt-Bold';
	font-size: 940%;
	letter-spacing: -4px;
	line-height: 92%;
	padding: 60px 0 80px 0;
	color: #fff;
	height: 500px;
}
.intro_sub {
	font-family: 'Theinhardt-Light';
	font-size: 200%;
	line-height: 140%;
	max-width: 900px;
	color: #fff;
}


.work_one {
	background-color: #fff;
}
.work_one_content {
	max-width: 1230px;
	margin: 0 auto;
	padding: 120px 60px;
	background-color: #fff;
}
.work_one_box {
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}
.work_one_box img {
	width: 100%;
}
.text_one_box {
	font-family: 'Theinhardt-Light';
	font-size: 480%;
	line-height: 100%;
	margin: 0 auto;
	padding: 0 0 40px 0;
}
.text_one_box span {
	font-family: 'Theinhardt-Bold';
	color: #ec9fc8;
}
.see_all_one {
	font-family: 'MaisonNeue-Mono';
	font-size: 90%;
	color: #ec9fc8;
}


.work_two {
	background-color: #000;
}
.work_two_content {
	max-width: 1230px;
	margin: 0 auto;
	padding: 120px 60px;
	background-color: #000;
}
.work_two_box {
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}
.work_two_box img {
	width: 100%;
}
.text_two_box {
	font-family: 'Theinhardt-Light';
	font-size: 480%;
	line-height: 100%;
	margin: 0 auto;
	padding: 0 0 40px 0;
	color: #292a2c;
}
.text_two_box a {
	font-family: 'Theinhardt-Bold';
	color: #fff;
}
.text_two_box a:hover {
	color: #B2FAC7;
}
.see_all_two {
	font-family: 'MaisonNeue-Mono';
	font-size: 90%;
	color: #fff;
}


@media only screen and (min-width: 100px) and (max-width: 600px) {
	.intro_main {
		font-family: 'Theinhardt-Bold';
		font-size: 15vw;
		letter-spacing: -4px;
		line-height: 110%;
		padding: 0 0 80px 0;
		color: #fff;
		height: 380px;
	}

	.text_one_box {
		font-family: 'Theinhardt-Light';
		font-size: 280%;
		line-height: 100%;
		margin: 0 auto;
		padding: 0 0 40px 0;
	}
	.text_two_box {
		font-family: 'Theinhardt-Light';
		font-size: 280%;
		line-height: 100%;
		margin: 0 auto;
		padding: 0 0 40px 0;
	}
	.footer_box {
		font-size: 140%;
	}
	.intro_sub {
		font-family: 'Theinhardt-Regular';
		font-size: 160%;
	}
	.footer_box {
		margin: 0 auto;
		font-family: 'Theinhardt-Light';
		font-size: 160%;
	}
	.work_two_box {
		padding-top: 40px;
	}
	.work_one_box {
		padding-top: 40px;
	}
	.intro_main_about {
		font-family: 'Theinhardt-Bold';
		font-size: 15vw;
		line-height: 110%;
		height: 300px;
	}
	.intro_sub_about {
		font-family: 'Theinhardt-Light';
		font-size: 160%;
	}
}


@media only screen and (min-width: 600px) and (max-width: 1100px) {
	.text_one_box {
		font-family: 'Theinhardt-Light';
		font-size: 280%;
		line-height: 100%;
		margin: 0 auto;
		padding: 0 0 40px 0;
	}
	.text_two_box {
		font-family: 'Theinhardt-Light';
		font-size: 280%;
		line-height: 100%;
		margin: 0 auto;
		padding: 0 0 40px 0;
	}
	.footer_box {
		font-size: 140%;
	}
	.intro_main {
		font-family: 'Theinhardt-Bold';
		font-size: 11vw;
		letter-spacing: -4px;
		line-height: 110%;
		padding: 60px 0 80px 0;
		color: #fff;
		height: 340px;
	}
	.intro_sub {
		font-family: 'Theinhardt-Regular';
		font-size: 200%;
	}
	.footer_box {
		margin: 0 auto;
		font-family: 'Theinhardt-Light';
		font-size: 200%;
	}
	.work_two_box {
		padding-top: 40px;
	}
	.work_one_box {
		padding-top: 40px;
	}

	.intro_main_about {
		font-family: 'Theinhardt-Bold';
		font-size: 14vw;
		line-height: 110%;
		height: 380px;
	}
}
