
/*GENERAL*/
body,html{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	color: #363a3e;
	font-size: 15px;
	line-height: 22px;
	font-family: 'Proxima-nova-light';
	letter-spacing: 0.5px;
}

*{
	margin:0;
	padding:0;
}
a{
	color: #363a3e;
	text-decoration: none;
}
a:hover{
	color: #f0e0d1;
}
.underline{
	font-family: Proxima-nova-light;
	color: #f0e0d1;
}
b{
	font-family: Proxima-nova-regular;
	-webkit-font-smoothing: antialiased;
}
.underline1{
	border-bottom: 1.5px solid;
}
li{
	list-style: none;
}
.dot li{
	list-style: inherit;
	padding-bottom: 12px;
	margin-left: 18px;
}
.dot{
	padding: 28px 0;
}
.portfolio .active{
	text-decoration: underline;
}
p{
	padding: 28px 0;
}
small{
	font-size: 50%;
}

video{
	-webkit-box-shadow: 0px 1px 2px 0px rgba(143,143,143,0.37);
	-moz-box-shadow: 0px 1px 2px 0px rgba(143,143,143,0.37);
	box-shadow: 0px 1px 2px 0px rgba(143,143,143,0.37);
}

.divider{
	border-bottom: 1px solid #DFE3E7;
	width: 60px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.subtitle{
	font-family: Times;
	font-size: 14px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 40px;
}

.spacer{
	height: 70px;
}

content{
	width: 100%;
}

header{
	background-color: #ffffff;
	height: 57px;
	position: fixed;
	top: 0;
	z-index: 10;
	margin: 0 auto;
	width: 100%;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 header{
	 	background-color: #ffffff;
	 	height: 118px;
	 }
}



/*FONT*/
@font-face {
    font-family: Proxima-nova-light;
    src: url(fonts/Proxima_Nova_Light.ttf);
}
@font-face {
    font-family: Proxima-nova-regular;
    src: url(fonts/proxima_nova_regular.otf);
}
@font-face {
    font-family: Proxima-nova-bold;
    src: url(fonts/proxima_nova_bold.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(fonts/PlayfairDisplay-SemiBoldItalic.ttf);
}

h1{
	font-size: 30px;
	line-height: 36px;
	font-family: Proxima-nova-regular;
	text-align: center;
}
h2{
	font-size: 22px;
	font-family: Proxima-nova-regular;
}



/*HEADER*/
.header_box{
	color: #3d464d;
	width: 400px;
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .header_box{
	 	width: 700px;
	 	font-size: 36px;
	 	margin: 0 auto;
	 	text-align: center;
	 }
}

.header_box li{
	display: inline-block;
	padding: 20px 10px 0 10px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .header_box li{
	 	display: inline-block;
	 	padding: 50px 10px 0 10px;
	 }
}



/*CONTENT*/
.container_featured a{
	color: #3d464d;
}

.container_featured a:hover{
	color: #f0e0d1;
}

.featured_box{
	color: ＃212121;
	width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	letter-spacing: 0.5px;
	margin-left: -350px;
	margin-top: -120px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .featured_box{
	 	color: ＃212121;
	 	width: 700px;
	 	position: absolute;
	 	left: 50%;
	 	top: 50%;
	 	text-align: center;
	 	letter-spacing: 0.5px;
	 	margin-left: -350px;
	 	margin-top: -380px;
	 }
}

.profile_list{
	font-size: 20px;
	font-family: 'baskerville' !important;
	font-style: italic;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .profile_list{
	 	font-size: 40px;
	 	padding-top: 130px;
	 	font-family: Proxima-nova-regular;
	 }
}

.profile_list li{
	padding-bottom: 14px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .profile_list li{
	 	padding-bottom: 60px;
	 }
}





/*PORTFOLIO*/
.portfolio_title{
	font-family: Proxima-nova-regular;
	font-size: 17px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 4px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .portfolio_title{
	 	font-family: Proxima-nova-light;
	 	font-size: 28px;
	 	text-align: center;
	 	padding-top: 140px;
	 }
}

.portfolio_title_first{
	font-family: Proxima-nova-regular;
	font-size: 17px;
	text-align: center;
	padding-bottom: 4px;
	padding-top: 120px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .portfolio_title_first{
	 	font-family: Proxima-nova-light;
	 	font-size: 28px;
	 	text-align: center;
	 	padding-top: 220px;
	 }
}

.cart_img{
	text-align: center;
	margin: 0 auto;
	background-image: ;
	background-repeat: no-repeat;
	background-size: 400px;
	width: 400px;
	height: 700px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .cart_img{
	 	text-align: center;
	 	margin: 0 auto;
	 	background-image: ;
	 	background-repeat: no-repeat;
	 	background-size: 600px;
	 	width: 600px;
	 	height: 1000px;
	 }
}

.profile_img{
	text-align: center;
	margin: 0 auto;
	background-image: ;
	background-repeat: no-repeat;
	background-size: 400px;
	width: 400px;
	height: 700px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .profile_img{
	 	text-align: center;
	 	margin: 0 auto;
	 	background-image: ;
	 	background-repeat: no-repeat;
	 	background-size: 600px;
	 	width: 600px;
	 	height: 1000px;
	 }
}

.discover_img{
	text-align: center;
	margin: 0 auto;
	background-image: url("works_img/discover.png");
	background-repeat: no-repeat;
	background-size: 400px;
	width: 400px;
	height: 700px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .discover_img{
	 	text-align: center;
	 	margin: 0 auto;
	 	background-image: url("works_img/discover.png");
	 	background-repeat: no-repeat;
	 	background-size: 600px;
	 	width: 600px;
	 	height: 1000px;
	 }
}

.store_img{
	text-align: center;
	margin: 0 auto;
	background-image: url("works_img/store.png");
	background-repeat: no-repeat;
	background-size: 400px;
	width: 400px;
	height: 700px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .discover_img{
	 	text-align: center;
	 	margin: 0 auto;
	 	background-image: url("works_img/store.png");
	 	background-repeat: no-repeat;
	 	background-size: 600px;
	 	width: 600px;
	 	height: 1000px;
	 }
}

.subtitleWork{
	font-size: 16px;
	font-family: 'baskerville' !important;
	font-style: italic;
	opacity: .5;
	text-align: center;
	padding-top: 10px;
}
.subtitle{
	font-size: 14px;
	font-family: 'baskerville' !important;
	font-style: italic;
	opacity: .5;
	text-align: center;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .subtitle{
	 	font-size: 20px;
	 	opacity: .5;
	 	text-align: center;
		padding-top: 20px;
	 }
}

.portfolio_see{
	font-family: Proxima-nova-regular;
	font-size: 15px;
	padding-bottom: 14px;
	text-decoration: underline;
	text-align: center;
	padding-top: 12px;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (orientation : portrait) {
	 .portfolio_see{
	 	font-family: Proxima-nova-regular;
	 	font-size: 24px;
	 	text-decoration: underline;
	 	text-align: center;
		padding-top: 20px;
	 }
}

.text_frame{
	max-width: 900px;
	word-wrap: break-word;
	padding: 60px 40px 0 40px;
	margin: 0 auto;
}

.image_frame{
	max-width: 1000px;
	word-wrap: break-word;
	padding: 30px 40px 0 40px;
	margin: 0 auto;
	text-align: center;
	overflow:auto;
}


.image_frame_fotorama{
	max-width: 900px;
	word-wrap: break-word;
	padding: 30px 40px 0 40px;
	margin: 0 auto;
}

.right{
	display: inline-block;
	max-width: 38%;
	float: right;
	padding-right: 40px;
}
.left{
	display: inline-block;
	max-width: 38%;
	float: left;
	padding-left: 40px;
}
.center{
	display: inline-block;
	max-width: 40%;
	margin: 0 auto;
}
.full{
	display: inline-block;
	max-width: 100%;
}
@media only screen and (min-device-width: 375px)
 and (max-device-width: 600px)
 and (orientation : portrait) {
	 .left{
	 	display: inline-block;
	 	max-width: 100%;
		padding-left: 0px;
		float: none;
	 }
	 .right{
	 	display: inline-block;
	 	max-width: 100%;
		padding-right: 0px;
		float: none;
	 }
	 .center{
	 	display: inline-block;
	 	max-width: 100%;
	 	margin: 0 auto;
	 }
}@media only screen and (min-device-width: 375px)
 and (max-device-width: 600px)
 and (orientation : portrait) {
	 .left{
	 	display: inline-block;
	 	max-width: 100%;
		padding-left: 0px;
		float: none;
	 }
	 .right{
	 	display: inline-block;
	 	max-width: 100%;
		padding-right: 0px;
		float: none;
	 }
	 .center{
	 	display: inline-block;
	 	max-width: 100%;
	 	margin: 0 auto;
	 }
	 body{
		 font-size: 26px;
		 line-height: 34px;
		 font-family: helvetica;
		 font-weight: lighter;
	 }
	 h1{
		 font-size: 54px;
		 line-height: 62px;
		 font-family: helvetica;
	 }
	 h2{
		 font-size: 46px;
		 line-height: 54px;
		 font-family: helvetica;
	 }
	 .subtitleWork{
		 font-size: 34px;
		 line-height: 40px;
	 }
	 .portfolio_title_first {
		 font-family: helvetica;
	 }
	 .portfolio_title{
		 font-family: helvetica;
	 }
	 .subtitle{
		 font-size: 30px;
	 }
}
@media only screen and (min-width: 375px)
 and (max-width: 600px)
 and (orientation : portrait) {
	 .left{
	 	display: inline-block;
	 	max-width: 100%;
		padding-left: 0px;
		float: none;
	 }
	 .right{
	 	display: inline-block;
	 	max-width: 100%;
		padding-right: 0px;
		float: none;
	 }
	 .center{
	 	display: inline-block;
	 	max-width: 100%;
	 	margin: 0 auto;
	 }
}


.intro_box{
	padding: 140px 230px;
}
@media (min-width: 100px) and (max-width: 1280px)
{
	.intro_box{
		padding: 150px 200px;
	}
}
@media (min-width: 100px) and (max-width: 800px)
{
	.intro_box{
		padding: 100px 120px;
	}
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.intro_box{
		 padding: 430px 90px;
		}
}

.intro{
	font-size: 2.3vw;
	letter-spacing: 0.5px;
	font-weight: 400;
	line-height: 1.5;
	font-family: Proxima-nova-light;
}
 @media (min-width: 100px) and (max-width: 900px)
 {
 	.intro{
 	 font-size: 20px;
 	}
 }
 /* Portrait and Landscape */
 @media only screen
   and (min-device-width: 375px)
   and (max-device-width: 667px)
   and (-webkit-min-device-pixel-ratio: 2) {
	 .intro{
  	 font-size: 44px;
		 line-height: 1.5;
  	}
 }


/*FOOTER*/
.cr{
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 75px;
	font: 15px 'Proxima-nova-regular';
	color: rgba(61,70,77,0.6);
}

.intro li{
	font: 70px 'Proxima-nova-bold';
}
@media (min-width: 100px) and (max-width: 1280px)
{
	.intro li{
  	font: 50px 'Proxima-nova-bold';
  }
}
@media (min-width: 100px) and (max-width: 800px)
{
	.intro li{
  	font: 30px 'Proxima-nova-bold';
  }
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.intro li{
	  	font: 80px 'Proxima-nova-bold';
	  }
}

.and{
	font-family: 'baskerville' !important;
	font-style: italic;
}

.customFont{
	font-family: 'baskerville' !important;
	font-style: italic;
}

.sm{
	padding-right: 16px;
	font-size: 16px;
	font-family: 'baskerville' !important;
	font-style: italic;
	display: block;
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.sm{
			font-size: 32px;
			display: block;
		}
}

.logos{
	float: right;
	padding-top: 40px;
}
.logos li{
	display: inline-block;
	padding-right: 12px;
	padding-top: 40px;
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.logos li{
			display: inline-block;
			padding-right: 20px;
			padding-top: 60px;
		}
}

.twitter{
	width: 20px;
	background-image: url("img/twitter.png");
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 10px;
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.twitter{
			width: 30px;
			background-size: 45px;
			padding-left: 26px;
		}
}
.vsco{
	width: 20px;
	background-image: url("img/vsco.png");
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 10px;
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.vsco{
			width: 30px;
			background-size: 45px;
			padding-left: 26px;
		}
}
.behance{
	width: 20px;
	background-image: url("img/behance.png");
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 10px;
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.behance{
			width: 30px;
			background-size: 45px;
			padding-left: 26px;
		}
}
.linkedin{
	width: 20px;
	background-image: url("img/linkedin.png");
	background-repeat: no-repeat;
	background-size: 25px;
	padding-left: 10px;
}
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.linkedin{
			width: 30px;
			background-size: 45px;
			padding-left: 26px;
		}
}
